<!DOCTYPE html>
<!--html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Admin cabinet</h1>
    <h2>List of users</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>E-Mail</th>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getRoles()}"></td>
            <td><a th:href="@{user-edit/{id}(id=${user.getId()})}">Edit</a></td>
            <td><a th:href="@{user-delete/{id}(id=${user.getId()})}">Delete</a></td>
        </tr>
    </table>
</div>
<h2>Create user</h2>
<div>
    <form action="#" th:action="@{/user-create}" th:object="${user}"method="post">
        <table>
                <tr>
                    <td><label for="username">Name:</label></td>
                    <td><input type="text" th:field="*{username}" id="username" placeholder="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="text" th:field="*{password}" id="password" placeholder="password"></td>
                </tr>
                <tr>
                    <td><p>-------------</p></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="firstName">First Name:</label></td>
                    <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="firstname"></td>
                </tr>
                <tr>
                    <td><label for="lastName">Last Name:</label></td>
                    <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="lastname"></td>
                </tr>
                <tr>
                    <td><label for="age">Age:</label></td>
                    <td><input type="text" th:field="*{age}" id="age" placeholder="age"></td>
                </tr>
                <tr>
                    <td><label for="email">E-mail:</label></td>
                    <td><input type="text" th:field="*{email}" id="email" placeholder="email"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="create user"></td>
                </tr>
        </table>
    </form>
</div>
<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>



